@import 'vars';
@import 'fonts';
@import 'global';
@import 'reset';


@import 'media';


.header {
    padding: 31px 0 90px;

    &__inner {
        max-width: 1790px;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;

    }

    &__list-item+.menu__list-item {
        padding-left: 32px;

    }

    &__list-link {
        color: $default;
        font-size: 15px;
        @extend %DMSans-700;
    }

}

.user-nav {
    display: flex;
    align-items: center;

    &__link-search {
        padding: 18px;
        border-radius: 50%;
        background-color: #edf1f4;
        margin-right: 20px;
    }

    &__link-heartcart {
        display: flex;
        justify-content: space-around;
        padding: 0 21px;
        margin-right: 20px;
        background-color: rgb(252, 215, 182);
        align-items: center;
        width: 170px;
        height: 52px;
        border-radius: 20px;
    }


    &__heart {
      position: relative;
    
    }
    

    &__line{
        width: 1px;
        height: 32px;
        background-color: #fde7d3;
    }

    &__num {
        position: absolute;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        font-size: 10px;
        line-height: 14px;
        width: 14px;
        height: 14px;
        right: -5px;
        top: -7px;
        color: #000;

        padding: 0px;
    }

    &__menu {
        line-height: 30px;
        border-radius: 50%;
        background-color: #a3bbc8;
        padding: 16px;
    }
}

.footer-top{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dae4e9;
    &__item{
        @extend %Rubik-500;
        width: 150px;
    }
    &__title{
        color: #1f2044 ;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 20px;
        line-height: 43px;
    }
    &__item-adress{
        width: 250px;
    }
    &__logo{
        margin-bottom: 27px;
    }
    &__item-form{
        max-width: 295px;
        width: 100%;
    }
    &__text{
        @extend %Rubik-500;
        color: #7b7b7b;
        font-size: 14px;
        margin-bottom: 38px;
    }
    &__input{
        font-size: 12px;
        @extend %DMSans-400;
        padding: 8px 16px;
        border: none;
        background-color: #fef7f0;
        &::placeholder{
        color: #234969;
        }  
    }
    &__link{
        line-height: 31px;
    }
    &__btn{
        border: none;
        background-color: #a3bbc8;
        font-size: 14px;
        line-height: 21px;
        @extend %DMSans-400;
        color: #fff;
        padding: 12px 21px;
    }
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 40px;
    line-height: 17px;
    &__list{
        display: flex;
        align-items: center;
    }

    &__item + .footer-bottom__item{
        margin-left: 15px;
    
    }
    &__link{
        padding: 0px 15px 0 5px;
       
    }
    &__right{
        border-right: 1px solid;
    }
}



